/*style.css*/
html
{
	font-family: sans-serif;
}

header
{
	font-size: 2em;
	font-family: sans-serif;
	background-color: #388E3C;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 60px;
	/*box-shadow: 0 14px 12px 0 rgba(0, 0, 0, 0.17);*/
	

}

h2
{
	font-size:1.5em;
	background-color: #388E1C;
	font-family: sans-serif;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

table
{
	border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

td
{
	padding: 15px;
    text-align: left;
    border: 1px solid gray;
}

tr:nth-child(even) 
{
	background-color: #f2f2f2
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    background-color: #4CAF50;
    color: white;
}

p
{
	text-align: center;
}

a
{
	outline: black solid 1px;
	padding: 10px;
	background-color: #E0E0E0;
	color: black;
}
